################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library Page/.vs/Library Page/FileContentIndex/a41bff49-c5b0-498f-8c50-2bc73fd7d91a.vsidx
/Library Page/.vs/Library Page/FileContentIndex
/Library Page/.vs/Library Page/v17/.wsuo
/Library Page/.vs/slnx.sqlite
